h1   { 
    text-align: center;
    color:rgb(50, 47, 255);
    font-style: oblique;
    background-color:rgb(112, 216, 138);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: darkred 1px solid;
} 
h2  { 
    color: darkgreen;
    font-size: 33px;
    font-style: bold;
}
h3  { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
#topic {
    font-size: xx-large;
}
.subtopic {
    font-size: 25px;
    color: darkslateblue;
}
p {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
table, th, td {
    border: 5px solid black;
    border-collapse: collapse;
    text-align: center;
}

th {
    width: 300px;
}

td {
    height: 30px;
}

input {
    width: 100%;
    border: 0px;
    outline: none;
    text-align: center;
    background-color: inherit;
    font-size: inherit;
    font-family: inherit;
}
.outline1 {
    font-size: 25px;

}
.outline2 {
    font-size: 18px;
    
}
